/* Author : Pushpa Raj  
Website : https://www.pushpadangi.com.np/
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: linear-gradient(#e66465, #9198e5);
    font-family: sans-serif;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background: linear-gradient(to right, #0018f780 50%, #ffffff 50%), url('https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
    width: 50%;
    height: 500px;
    border-radius: 2px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
}


.user img {
    width: 150px;
    height: 150px;
}

.user {

    margin: auto;
    position: absolute;
    top: 20%;
    border: 3px solid #ffffff;
    border-radius: 50%;
    background: #ffffff;
    transform: translate(-50%, -100%);
    left: 50%;
}


.input-field {
    margin: 20px 0px;
}

input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #b39d9d;
    margin-top: 10px;
    margin-bottom: 20px;
}


form {
    margin: 90px 50px;
    width: 100%;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

button {
    background: blueviolet;
    border: none;
    padding: 10px 20px;
    color: #fff;
    margin-bottom: 30px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}

.left,
.right {
    width: 50%;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

span {
    background: #fbfbfb;
    padding: 5px;
    line-height: 2;
    color: red;
    margin-bottom: 20px;
}

.dialog {
    transition: 0.2s all;
    color: red;
}

@media(max-width: 768px) {
    .left {
        display: none;
    }

    .form-wrapper {
        width: 100%;
    }

    form {
        width: 80%;
    }

    .container {
        width: 90%;
        height: 60vh;
        background: white;
    }

    .right {
        width: 100%;
        margin-top: 50px;
    }
}